In [2]:
# Required libraries
import datetime as dt
import matplotlib.pyplot as plt

import os
import math
import time
import numpy as np
import pandas as pd
import seaborn as sns
sns.set(font_scale=1.5)

In [3]:
# Constants
my_data = "../data"

In [4]:
# Load data into Pandas dataframe
datafile = "QueryResults.csv"
full_path = os.path.join(my_data, datafile)
df_raw = pd.read_csv(full_path)
print(df_raw.shape)

(18365, 8)

In [6]:
df_raw.iloc[1

Id                                                               6899
Score                                                             162
ViewCount                                                      103945
CreationDate                                      2008-08-09 20:11:18
LastActivityDate                                  2018-04-02 11:34:57
title               How to create a SQL Server function to "join" ...
tags                          <sql><sql-server><string-concatenation>
body                <p>To illustrate, assume that I have two table...
Name: 1, dtype: object